body {
  background-image: url("http://goo.gl/PP2KHy");
  background-color: black;
  background-repeat: no-repeat;
  background-position: center 100px;
}

.circular-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: url(http://www.resizemypicture.com/pictures//01555691b8f8b1801432951695.jpg) no-repeat;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: black;
  color: green;
  font-family: "Lucida Console", sans-serif;
}

.header-img {
  margin: 0 auto;
  width: 100%
}

.greeting {
  font-family: "Times New Roman", Times, serif;
  font-size: 36px;
  color: purple;
  margin: 1.5em;
  text-align: center;
}

.greeting > span {
  font-family: "lucida console";
  display: block;
  margin-top: .8em;
}

.text-large {
  font-size: 72px;
}

.introduction-section {
  margin-top: 9em;
}

section > h1 {
  text-align: center;
}

.introduction-section,
.location-section,
.questions-section {
  max-width: 38em;
  margin-left: auto;
  margin-right: auto
}

h2 {
  text-align: center;
}